<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">EZMed</h5>

                <p class="grey-text text-lighten-4">
                    Hackathon Eldorado 2016 - <b>Smart Health</b>.<br />
                    Equipe: <strong>Life's good!</strong><br />
                    Arthur Guerra, Lucas Tavares, Henrique Nogueira
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            EZMed <a class="orange-text text-lighten-3" href="http://materializecss.com">Hackathon Smart Health</a>
        </div>
    </div>
</footer>