<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">TakeYourPills</h5>

                <p class="grey-text text-lighten-4">
                    Hackathon Eldorado 2016 - <b>Smart Health</b>.<br />
                    Equipe: <strong>Life's good!</strong><br />
                    Arthur Guerra, Lucas Tavares, Henrique Nogueira
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            TakeYourPills <a class="orange-text text-lighten-3" href="http://materializecss.com">Hackathon Smart Health</a>
        </div>
    </div>
</footer>