{% extends 'core/base.html' %}
{% load static %}

{% block page_title %}
    :: Pacientes
{% endblock %}

{% block content %}
    <h4>Pacientes</h4>

    <ul class="collection">

        {% for patient in patients %}
            <li class="collection-item avatar">
                <i class="material-icons circle light-blue">perm_identity</i>
                <span class="title">{{ patient.first_name }} {{ patient.last_name }}</span>

                <p>
                    {{ patient.treatments.all|length }} tratamento{{ patient.treatments.all|length|pluralize }} <br/>
                    {{ patient.age }} ano{{ patient.age|pluralize }}
                </p>
                <a href="{% url 'patient' patient.pk %}" class="secondary-content"><i
                        class="material-icons">send</i></a>
            </li>
        {% empty %}
            <p>Não há pacientes cadastrados.</p>
        {% endfor %}
    </ul>

    <a class="waves-effect waves-light btn" href="{% url 'add_patient' %}">
        <i class="material-icons">add</i>
    </a>

{% endblock %}