{% extends 'core/base.html' %}
{% load static %}

{% block page_title %}
    :: Pacientes
{% endblock %}

{% block content %}
    <h4>Pacientes</h4>

    <ul class="collection">

        {% for patient in patients %}
        <li class="collection-item avatar">
            <i class="material-icons circle light-blue">perm_identity</i>
            <span class="title">{{ patient.first_name }} {{ patient.last_name }}</span>

            <p>
                {{ patient.treatments.all|length }} tratamento{{ patient.treatments.all|length|pluralize }}
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
        {% empty %}
            <p>Não há pacientes cadastrados.</p>
        {% endfor %}
    </ul>

{% endblock %}